<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /--><!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} --><html><body><main class="wp-block-group alignfull">
	<!-- wp:pattern {"slug":"twentytwentyfour/hidden-posts-heading"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfour/posts-3-col"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
</body></html>
